#primeiroBotao{
    background-color: #4CAF50;/* Define a cor de fundo do botao */
    color: white; /* Define a cor do texto dentro do botao */
    padding: 15px 30px; /* Espaçamento interno em 15px e na vertical 30px */
    text-align: center; /* Alinhamento do texto para central */
    font-size: 16px; /* Tamanho da fonte para 16 */
    border: 12px; /* Arredondamento da borda em 12px */
    cursor: pointer; /* Mudança de cursor para mãozinha */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave*/
}

/* Estilização ao passar o mouse sobre o botão */
#primeiroBotao:hover{
    background-color: rgb(253, 0, 118); /* Muda a cor de fundo ao passar o mouse em cima */
}