<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viemport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='respostas12345678.css')}}">
    <title>Questoes HTML</title>

</head>
<body>
    <div class="titulo">
        <img src="{{ url_for('static', filename='images/skincare.jpg') }}" alt="Skincare">
        <h1>Rotina de Skincare </h1>
    </div>


    <p>Esta é uma pagina simples criada para informar os principais produtos para cuidados com a pele.</p>

    <ul>
        <li>Skincare</li>
        <li>Cuidados Pessoais</li>
        <li>Beleza</li>
    </ul>

    <ol>
        <li>Pesquise sobre seu tipo de pele</li>
        <li>Pesquise sobre os produtos adequados</li>
        <li>Monte sua uma rotina de skincare</li>
    </ol>

    <p> Para mais informações, acesse esse site
    <a href="https://www.principiaskin.com/" target="_blank">Este link serve para pesquisar os produtos adequados para sua pele</a></p>

    <table>
        <tr>
            <th>Produto/Serviço</th>
            <th>Preço</th>
        </tr>
        <tr>
            <td>Protetor Solar</td>
            <td>R$ 50,00</td>
        </tr>
        <tr>
            <td>Sabonete Facial: </td>
            <td>R$ 40,00</td>
        </tr>
        <tr>
            <td>Hidratante: </td>
            <td>R$ 40,00</td>
        </tr>
    </table>

    <button onclick="">Página de contato</button>

    <h1>Formulário</h1>
     <form action="/contato" method="POST">
        <label for="nome">Nome: </label>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="email">E-mail: </label>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="mensagem">Mensagem: </label>
        <textarea id="mensagem" name="mensagem" rows="5" cols="20" required></textarea>
        <br><br>

        <label for="tema">Selecione um tema:</label>
        <select id="tema" name="tema">
            <option value="tecnologia">Tecnologia</option>
            <option value="educacao">Educação</option>
            <option value="saúde">Saúde</option>
        </select>
        <br><br>
        <button type="submit">Enviar</button>
    </form>

        
    <h1> Citação importante</h1>
    <blockquote cite="">
        "A beleza começa no momento em que você decide ser você mesma.— Coco Chanel"
    </blockquote>
    
    <h1> Video abaixo: </h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PLUorDoO1t0?si=M6ViLJAlBRrmT5l9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
     clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
    <h1>Questão 14</h1>
    <p><a href="secaoImportante">Ir para a tal seção importante</a>
    <p>Exemplo de conteúdo 1</p>
    <hr>
    <p>Exemplo de conteúdo 2</p>
    <hr>
    <p>Exemplo de conteúdo 3</p>
    <hr>
    <footer>
    <p>&copy; 2024, Alucinações do Maurinho...</p>
    </footer>
</body>
</html>
 